
  
  .card-header {
    background-color: #f8f9fa;
  }
  
  button {
    width: 100%;
  }
  
  .banner {
    background-size: cover;
 background-position: center;
 color: white;
}

/* In your component's CSS file */
.card {
    max-width: 500px;  /* Set a max width for the card */
    margin: 0 auto;    /* Centers the card horizontally */
  }
  

.banner p {
 font-size: 1.25rem;
}